* {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body a {
  text-decoration: none;
}
#dashboard {
  display: flex;
  justify-content: space-between;
}
/*login*/

.page-connexion {
  width: 300px;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  margin-bottom: 200px;
}
.form-field {
  margin-bottom: 10px;
}
.form-field input {
  width: 100%;
  padding: 5px;
  outline: none;
}
/*titre*/
h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.btn input {
  padding: 10px;
  background: #02acac;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.btn input:hover {
  background: #087e04;
}
.erreur-connexion {
  font-size: 12px;
  margin-top: 5px;
  color: #ff0000;
}
header {
  background: #0b2020;
  color: #ffffff;
  margin-bottom: 80px;
}
.logo {
  padding: 10px;
  float: left;
}
.information-user {
  float: right;
  padding-right: 30px;
  padding-top: 50px;
}
.btn-deconnexion {
  display: inline;
  vertical-align: middle;
  margin-left: 20px;
}
.clear {
  clear: both;
}
.menu {
  background: #dddccc;
  text-align: center;
  margin-top: 20px;
}
.menu a {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  text-transform: uppercase;
  background: #0b2020;
  color: #ffffff;
  font-size: 12px;

  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
}
p {
  font-weight: bold;
  font-size: larger;
}
/*exporter*/

legend {
  color: #0c273d;
}
.validation,
.confirmation {
  font-weight: bolder;
  color: #008000;
  margin-top: 50px;
  margin-bottom: 100px;
}
strong {
  color: red;
}
.lien {
  text-decoration: none;
  color: white;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  background-color: green;
  font-weight: bolder;
}
.valide {
  color: green;
}
.invalide {
  color: red;
}
.actif {
  color: #02acac;
}
